/*
blue: rgba(29, 41, 81)/#1d2951
gray: E3E4DB
orange: #f37121
*/

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat";
}
body, html {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  height: 100%;
  position: relative;
}
a {
  text-decoration: none;
}
h2 {
  font-family: "Arimo";
  font-size: 1.25rem;
}
h3 {
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: normal;
}
h4 {
  font-family: "Montserrat";
}
ul{
  padding-left: 0;
}
p, li {
  font-family: "Open Sans";
}
hr{
  border: none;
  border-top: 1px solid lightgray;
  margin: 0;
  padding: 0;
}
.p-bold {
  font-weight: bold;
}
.subtle-hilight {
  color: #ff7f11;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;
  height: 50vh;
  max-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dbdbdb;
  font-family: helvetica;
  box-sizing: border-box;
  transition: 0.5s 0.5s ease-out;
}
#name {
  font-size: 3rem;
  font-family: "Arimo";
  margin-top: 8vw;
  text-align: center;
  color: #111d5e;
  margin-bottom: 0;
}

#name-list {
  text-align: center;
  padding: 0;
  margin-top: 10px;
}
#name-list li {
  display: inline;
  color: #1d2951;
  font-weight: bold;
}
.glance-bar {
  background: url("/images/nav-bg.png");
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 98%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #adadad;
  z-index: 1;
  transition: background-color 0.3s ease-out;
}
.glance-bar > a{
  height: 100%;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 5px;
  width: auto;
  max-height: 100%;
  border-bottom: 2px solid #ff7f1100;
  transition-duration: 0.2s;
  box-sizing: border-box;
  cursor: pointer;
}
.section:hover {
  border-bottom: 2px solid #ff7f11;
}
.section img{
  display: block;
  height: 60%;
  width: auto;
  margin: 0;
  color: #1d2951;
  font-weight: bold;
}
.section h2 {
  font-family: "Open Sans";
  font-size: 1.05rem;
  font-weight: normal;
  width: 100%;
  color: #1d2951;
  text-align: center;
  margin: 2px auto;
}
.fixed-nav{
  height: 70px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.fixed-nav > a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fixed-nav .section{
  height: 90%;
}
.fixed-nav h2{
  font-size: 0.9rem;
}
.main-section {
  min-height: 300px;
  width: 80%;
  max-width: 1200px;
  margin: 80px auto;
}
.main-section h2 {
  text-align: left;
  margin-bottom: 50px;
  font-weight: normal;
  color: #1d2951;
  text-decoration: underline #f37121;
}
/*------------------Profile----------------------*/
#tabs {
  position: relative;
  display: flex;
  height: 40px;
  width: 100%;
  transition-duration: 3s;
  justify-content: flex-end;
  align-items: flex-end;
}
.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: -1px;
  min-width: 10%;
  height: 30px;
  text-align: center;
  margin: 0 5px;
  font-size: 1rem;
  font-weight: normal;
  outline: none;
  padding: 0 20px;
  border: 1px solid #1d2951;
  border-bottom: none;
  background-color: #111d5e;
  color: white;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: 0.2s ease;
}
.about-section {
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #1d2951;
  box-shadow: 0 0 1px #1d2951;
  display: none;
  max-height: 300px;
  overflow: auto;
  padding: 20px 40px;
}
.about-section div {
  width: 50%;
}
.about-section li {
  list-style-type: square;
}
#overview {
  padding: 50px 20px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

/*------------------Technologies----------------------*/

#tech-grid {
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
}
.language {
  display: flex;
  position: relative;
  box-shadow: 0 0 2px #b8b8b8;
  overflow: hidden;
  padding: 5px;
}
.badge {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}
.badge img {
  height: 70%;
  width: auto;
}
.badge h3 {
  font-size: 1rem;
  margin: 0 auto;
}

/*------------------Projects----------------------*/

#project-flex{
  position: relative;
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}
.project-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  padding: 5px;
  min-width: 100%;
  justify-content: flex-start;
}
.project {
  border-radius: 12px;
  box-shadow: 0 0 4px #b8b8b8;
  padding: 5px;
}
.project-status {
  color: #F28C38;
  font-size: 10px;
}
.project img {
  display: block;
  height: auto;
  width: 100%;
  margin: 20px auto;
}
.project p {
  font-size: 0.9375rem;
}
.project a {
  text-decoration: underline #f37121 dashed;
}

/*------------------Contact----------------------*/

#contact{
  margin-bottom: 0;
}

/*------------------Other----------------------*/

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer p{
  text-align: center;
}


@media screen and (max-width:920px){
  html {
    font-size: 15px;
  }
  .section{
    margin: 0;
    padding: 5px;
  }
  .section h2{
    font-size: 0.9rem;
  }
  .main-section {
    width: 87%;
  }
  .about-section {
    flex-direction: column;
  }
  .tab{
    padding: 2px;
    margin: 0;
  }
  #tech-grid {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-auto-rows: 80px;
    grid-gap: 10px;
  }
  .badge h3 {
    font-size: 0.8rem;
  }

}
